/* merriweather-700 - latin_cyrillic */
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/merriweather-v28-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/merriweather-v28-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/inter-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/inter-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  :root {
    --color-gold: #bdae82;
    --color-white: #fff;
    --font1: 60px;
    --font2: 20px;
  }

  html {
      box-sizing: border-box;
      scroll-behavior: smooth;

  }

  *, *::before, ::after {
      box-sizing: inherit;
  }
  
  body{
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-size: var(--font2);
    line-height: 2;
    font-weight: normal;
    color: var(--color-white);
    background-color: black;

  }

.container {
    width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

/* Header styles start*/

.header {
    z-index: 1;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: -90px;
    /* возможно лишнее */ 
    height: 90px;   
}

.header_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 0%;
   
}

.header_logo {
    width: 50px;
    height: 40px;
    margin: 25px 20px;
}

.header_nav{
    margin-left: auto;

}

.header_list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.heder_item {
    margin-right: 30px;
}

.heder_item:last-child {
    margin-right: 0;
}

.header_link {
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
    text-decoration: none;
}

.header_link:hover,
.header_link:focus,
.header_link:active {
    opacity: .75;
    color: var(--color-gold);
    transition: 0.5s;
}

.radio {
    margin: 20px 20px 20px 29px;
}

.radio input {
    margin: 0 3px;
    color: var(--color-white);
    font-size: 20px;
    line-height: 50px;
    font-weight: 700;
    cursor: pointer;
	appearance: none;
}

.radio input:checked {
	color: var(--color-gold);
}

.radio input:before {
	content: attr(id);
}

/* Header styles start*/

/* Hero styles start*/

.hero {
    height: 910px;
    background: url(../assets/jpg/hero_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.hero_container {
    max-width: 580px;
    padding-left: 80px;
    padding-right: 30px;
    padding-top: 250px;
}

.hero_title{
    margin: 0 auto;
    padding-bottom: 10px;
    font-family: Merriweather;
    font-size: var(--font1);
    font-weight: 700;
    line-height: 2;
}

.hero_subtitle{
    margin: 0;
    padding-bottom: 25px;
}

.button_solid{
    height: 55px;
    width: 220px;
    font-family: inherit;
    font-size: 20px;
    color: black;
    background-color: var(--color-gold);
    border: none;
    cursor: pointer;
}

.button_solid:hover,
.button_solid:focus,
.button_solid:active {
    margin: 0 auto;
    color: white;
    border:5px solid;
    border-color: var(--color-gold);
    background-color: transparent;
    box-shadow: 1px 1px 5px white;
    transition: 1s;
    outline: 0 none;
}

/* Hero styles finish*/

/* Skills styles start*/

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;

}

.h2_container{
    width: 100%;

}

.h2_line {
    width: 700px;
    margin: 0 auto;
    overflow: hidden;
    padding: 98px 0 62px;
    font-family: Merriweather;
    font-style: normal;
    color: var(--color-gold);
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    
}

.h2_line span {
    display: inline-block;
    vertical-align: middle;
    line-height: 70px;
}

.h2_line:before,
.h2_line:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 100%;
    height: 2px;
    vertical-align: middle;
    background-color:var(--color-gold);
}

.h2_line:before {
    left: -10px;
    margin-left: -100%;
}

.h2_line:after {
    right: -10px;
    margin-right: -100%;
}

.card_skills {
    width: 320px;
    margin: 0 auto;
    padding: 0 20px 10px;
}

.skills_icon {
    display: block;
    margin: 0 auto;
    padding: 0;
}

.name_skills {
    margin: 0;
    padding-top: 50px;
    font-weight: bold;
    text-align: center;
}

.item_skills {
    margin: 0;
    padding-top: 20px;
    font-size: 18px;
    line-height: 2;
    text-align: center;
}

/* Skills styles finish*/

/* Portfolio styles start*/

.group_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
}

.button_transparent{
    width: 220px;
    height: 55px;
    margin-right: 5px;
    font-family: inherit;
    font-size: 20px;
    color: var(--color-gold);
    background-color: transparent;
    border: 2px solid var(--color-gold);
    cursor: pointer;
}

.button_transparent:last-child{
    margin-right: 0;
}

.button_transparent:hover, .button_transparent:focus, .button_transparent:active {
    color: black;
    background-color: var(--color-gold);
    border-color: var(--color-gold);
    box-shadow: 1px 1px 5px white;
    transition: 1s;
}

.photo_container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.photo_portfolio {
    padding: 25px 25px 0px 0px;
}

.photo_portfolio:first-child {
    padding-right: 20px;
}

/* Portfolio styles finish*/

/* Video styles start*/

.video_player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 705px;
    margin: 0 20px;
    background: url(../assets/jpg/video-player.jpg) no-repeat;
    background-size: 100%;
}

.video_player_link {
    display: inline-flex;
}

/* Video styles finish*/

/* Price styles start*/

.price_container {
    display: flex;
    width: 1400px;
    height: 505px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 100px;
}

.price_block {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 505px;
    border: 3px solid var(--color-gold);
    justify-items: center;
    align-items: center;
}

.price_title {
    display: block;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    text-align: center;
}

.price_value {
    display: block;
    padding-bottom: 20px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: var(--color-gold);
}

.price_description {
    display: block;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}

.price_description:last-of-type {
    padding-bottom: 40px;
}

/* Price styles finish*/

/* Contacts styles start*/

.contacts {
    display: flex;
    justify-content: flex-end;
    height: 700px;
    padding-top: 60px;
    padding-bottom: 0;
    padding-right: 20px;
    background-position: center center;
    background: url(../assets/jpg/contacts_background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.contacts_container {
    width: 450px;
    height: 445px;
    
    
}

.contacts_title{
    margin: 0;
    padding-bottom: 40px;
    font-family: Merriweather;
    font-style: normal;
    font-size: 40px;
    line-height: 80px;
    font-weight: bold;
    color: var(--color-gold);
    text-align:left;
}

input[type="email"],
input[type="tel"],
textarea {
    display: block;
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 19px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: var(--color-gold);
    border: 2px solid var(--color-gold);
    box-sizing: border-box;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.5);

}

textarea{
    height: 100px;
    margin-bottom: 30px;
    padding-bottom: 55px;
    resize: none;
    overflow:hidden;
}

::placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: var(--color-gold);
}

/* Contacts styles finish*/

/* Footer styles start*/

.footer {
    max-width: 1440px;
    margin: 0 auto;
}

.footer_container {
    display: flex;
    height: 150px; 
    justify-content: space-between;
    align-items: center;
    line-height: 50px;
}
  
.footer_data {
    margin-left: 20px;
}
.footer_data span{
    padding-left: 15px;
}

.footer_data span:first-of-type{
    padding-left: 0;
}

.foother_list {
    display: flex;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 177px;
    list-style: none;
}

.foother_list a {
    display: flex;
    justify-content: center;
    height: 32px;
    /*padding-left: 40px;*/
    padding-left: 20px;
}

span a{
    padding-left: 0px;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer_link {
    padding-left: 80px;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    opacity: .75;
    color: var(--color-gold);
    transition: 0.5s;
}

/* Footer styles finish*/